services:
  nexus:
    image: d4z3x/nexus:latest
    container_name: nexus
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DB_PATH=/app/data/nexus.db
